@import "./mixins";

@media screen and (min-width: 1px) {
    .indexMain {
        @include Font;
        display: flex;
        flex-direction: column;
        @include Green1;
        align-items: center;
        margin-left: 18%;
        .indexTitle {
            margin-top: 10%;
            margin-left: 4%;
            font-size: 30px;
            letter-spacing: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include Green2;
            text-shadow: 0 0 10px #3F4531;        
        }
        .indexSubtitle {
            font-size: 12px;
            @include Green4;
        }
    }
        .indexImg {
            width: 50%;
            height: auto;
            margin-right: -8%;
        }
        .indexText {
            color: #3F4531;
            font-size: 18px;
            padding: 18px;
            padding-left: 20px;
            margin-left: 2%;
             width: 280px;
        }
       .speech-bubble {
        position: relative;
        margin-top: 15%;
        width: 75%;
        padding: 24px;
        @include bgColor2;
        border-radius: .4em;
    }
    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: #76F7BF;
        border-top: 0;
        margin-left: -50px;
        margin-top: -50px;
    }
    .copyrightInfo{
        display: flex;
        position: absolute;
        bottom: 0;
        flex-direction: column;
        margin-bottom: auto;
        margin-left: 42%;
        text-align: center;
        @include Font;
    }
}
@media screen and (min-width: 768px) {

    .indexMain {
        margin-left: 22%;
        .indexTitle {
            font-size: 40px;
            
        }
        .indexSubtitle {
            font-size: 14px;
        }
        
        .indexImg {
            width: 30%;
            height: auto;
            margin-right: -3%;
        }
        .indexText {
            color: #3F4531;
            font-size: 18px;
            padding: 18px;
            padding-left: 20px;
            margin-left: 2%;
                width: 70%;
        }
    }


    .speech-bubble {
        position: relative;
        margin-top: 10%;

        width: 75%;
        padding: 8px;
        @include bgColor2;
        // background: rgba(196, 196, 196, 0.5);
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: #76F7BF;
        border-top: 0;
        margin-left: -50px;
        margin-top: -50px;
    }
    .copyrightInfo{
        margin-left: 50%;
    }
}
@media screen and (min-width: 1280px) {
    .indexMain {
        margin-left: 22%;
        .indexTitle {
            font-size: 40px;
            @include Green2;
            text-shadow: 0 0 10px #3F4531;
        }
        .indexSubtitle {
            font-size: 16px;
            @include Green4;
        }
        .indexImg {
            width: 30%;
            height: auto;
            margin-right: -3%;
        }
    }
    .speech-bubble {
        position: relative;
        margin-top: 6%;
        width: 75%;
        line-height: 140%;
        padding: 8px;
        @include bgColor2;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: #76F7BF;
        border-top: 0;
        margin-left: -50px;
        margin-top: -50px;
    }
    .copyrightInfo{
        margin-left: 52%;
    }
}

