
@import './mixins';

.mainBlog {
    width: 50%;
    padding: 30px;
    margin-left: 35%;
    @include bgColor2;

    .titleContainer {
        display: flex;
        justify-content: center;

        .blogTitle {
            display: block;
            font-size: 24px;    
            @include Green5;
        }
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        border-bottom: 2px #3F4531 solid;

        .blogBody {
            width: 100%;
            word-wrap: break-word;    
        }
    }
}
















